          <!-- Conteúdo -->
          <div id= "principal">
               <div class="efeitos">
                    <div class="conteiner">
                         <h1>Bem-vindo a minha página</h1>
                         <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing
                              elit. In vehicula vulputate dui, id dictum lectus
                              congue eget. Nullam eu nisi at mi facilisis tincidunt.
                              In tempor nisi vitae orci volutpat, semper posuere
                              felis semper. Quisque semper lorem eu tortor pretium,
                              eu viverra ligula dictum. Pellentesque lacinia suscipit
                              nulla et lacinia. Sed fringilla sit amet felis quis
                              molestie. Integer eget mattis lorem, id sagittis dolor.
                              Proin euismod fermentum neque vitae convallis. Nam vel
                              felis ante.
                         </p>
                    </div>
               </div>
          </div>
